<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yelp Camp</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
<div class="content-login">
    <div class="con-login">
        <h1>
            Login in
        </h1>
        <form style="width: 100%;" action="/login" method="post">
            <div class="con-inputs">
                <div class="con-input">
                    <label for="email">
                        Username
                    </label>
                    <input type="text" name="username" id="" placeholder="username">
                    
                </div>
                <div class="con-input">
                    <label for="password">
                        Password
                    </label>
                    <input type="password" name="password" id="" placeholder="password">
                </div>
                <!-- <div class="con-forgot">
                    <a href="">
                        Forgot password?
                    </a>
                </div> -->
            </div>
    
            <footer>
                <button class="btn-login" type="submit">Log In</button>
            </footer>
        </form>
        
    </div>
</div>
   
</body>
</html>